<div class="todo-item">
  <span class="{{ todo.isDone ? 'todo-name todo-name--done' : 'todo-name' }}">{{
    todo.name
  }}</span>
  <button
    *ngIf="!todo.isDone; else elseDoneBtn"
    class="done-btn"
    (click)="onDoneTodo()"
  >
    <fa-icon icon="check" />
  </button>
  <ng-template #elseDoneBtn>
    <button (click)="onUndoTodo()">
      <fa-icon icon="rotate-left" />
    </button>
  </ng-template>
  <button class="delete-btn" (click)="onDeleteTodo()">
    <fa-icon icon="trash" />
  </button>
</div>
